<!DOCTYPE html>
<html lang="pt-br">

    <head th:replace="~{fragmentos/cabecalho::cabecalho}">Cabecalho</head>

<body>
    
    <div th:replace="~{fragmentos/barraNavegacao::navbar}">Barra de navegacao</div>

        <div class="container">
            <div class="mt-4">
                    <!-- vai receber o nome do pet que vai receber a vacina -->
                <div class="mb-3 mt-4">
                    <label class="form-label" th:text="${nomeDoPet}">Nome do Pet</label>                                     
                </div>

                <form  th:object="${cartaoVacinaPet}" method="post">
                    <input type="hidden" th:field="*{id}">                    
                    
                    <!-- Receber uma lista de vacinas que foram cadastradas -->
                    <select class="form-select" th:field="*{vacinaPet}" >
                        <option th:each="vacina : ${vacina}" th:value="${vacina.id}" th:text="${vacina.nome}"> Escolher a vacina </option>                    
                    </select>
    
                    <div class="mb-3 mt-4">
                      <label for="" class="form-label">Data de aplicação</label>
                      <input type="date" class="form-control"  placeholder="03/05/2023" th:field="*{dataVacina}">                  
                    </div>
    
                    <div class="mb-3 mt-4">
                        <label for="" class="form-label">Próxima dose</label>
                        <input type="date" class="form-control"  placeholder="28/05/2023" th:field="*{proximaDose}">                  
                    </div>
                    
                    <button type="submit" class="btn btn-success mt-4"> Cadastrar </button>
                </form>
            </div>
            
        </div>









    <footer th:replace="~{fragmentos/rodape::rodape}"> </footer>

</body>
</html>