<!DOCTYPE html>
<html lang="pt-br">

    <head th:replace="~{fragmentos/cabecalho::cabecalho}">Cabecalho</head>

<body>
    <div th:replace="~{fragmentos/barraNavegacao::navbar}">Barra de navegacao</div>

    <section class="jumbotron">
        <div class="container mt-5">
            <h3>Novo Pet</h3>
    
            <form  th:object="${animalEstimacao}"  method="post">    
                <div class="row mt-5">
                    <input type="hidden" th:field="*{id}">

                    <div class="col col-md-4">
                        <label for="nomePet" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nomePet" placeholder="Ex: Cenoura"  th:field="*{nomePet}">                    
                    </div>               
                    <div class="col-md-auto">
                            <label for="dataNascimentoPet" class="form-label">Data de Nascimento</label>
                            <input type="date" class="form-control" id="dataNascimentoPet" placeholder="Ex: 29/04/2020" th:field="*{dataNascimentoPet}">                    
                    </div>

                    <div class="col-md-auto col-md-4 ">
                        <label>Tipo de animal</label>
                        <select th:field="*{tipoAnimal}"  class="form-select">

                        <option th:each="tipoAnimal : ${petProprietario}" th:value="${tipoAnimal}" th:text="${tipoAnimal}" > Ave </option>

                        </select>
                    </div>

                    <div class="col-md-auto col-md-4 md-4">
                        <label for="raçaAnimal" class="form-label">Raça</label>
                        <input type="text" class="form-control" id="raçaAnimal" placeholder="Ex: Siamês" th:field="*{raçaAnimal}">                    
                    </div>   
                         
                </div>   
               
               <button type="submit" class="btn btn-success mt-4"> Cadastrar </button>
            </form>
           
        </div>
    
    </section>



    
</body>
</html>