<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragmentos/cabecalho::cabecalho}">Cabecalho</head>

<body>

  <div th:replace="~{fragmentos/barraNavegacao::navbar}">Barra de navegacao</div>

  <div class="jumbotrom">
    <div class="container mt-5">
   

      <table class="table table-borderless" >
        

        <tr>
          <th class="table-active">Nome</th> 

          <tr>  
            <td >
              Ronaldo da Silva Santos
            </td>            
          </tr>  
        </tr>
        <td>
          <button class="btn btn-primary">Editar</button>
        </td>

        <tr>          
          <th class="table-active">Endereço</th>  
        </tr>

        <tr>  
          <td >Rua</td>
        </tr>

        <tr>  
          <td>Numero</td>
        </tr>
        <tr>  
          <td>Cidade</td>
        </tr>
        <tr>  
          <td>Cep</td>
        </tr>
        <td>

          <button class="btn btn-primary">Editar</button>
        </td>
        <tr>  
          <th class="table-active">Animais de estimação</th>
        </tr>
        <tr>  
          <td>gato</td>
        </tr>
      </table>

      
    </div>


  </div>

  

  <footer th:replace="~{fragmentos/rodape::rodape}"> </footer>

</body>

</html>